@model IEnumerable<Assignment_1_asp.net_MVC__.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin:60px">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <td>
                        @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                           Rs: @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <img class="rounded-circle" src="@Html.DisplayFor(modelItem => item.Image)" alt="" style="width: 60px; height: 60px;">
                        </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>
</div>